.background_color {
  width: 100px;
  height: 100px;
  background-color: black;
} 

.background_image1 {
  width: 100px;
  height: 100px;
  background-image: url(../image/S__540702.jpg);
  background-size: cover;
}

.background_image2 {
  width: 100px;
  height: 100px;
  background-image: url(../image/S__540702.jpg);
  background-size: cover;
  background-attachment: scroll;
}

.background_image3 {
  width: 100px;
  height: 100px;
  background-image: url(../image/S__540702.jpg);
  background-size: cover;
  background-position: center top;
}

.background_image4 {
  width: 100px;
  height: 100px;
  background-image: url(../image/S__540702.jpg);
  background-size: 50px 50px;
  background-repeat: repeat;
}

.background_image5 {
  width: 100px;
  height: 100px;
  background: url(../image/S__540702.jpg) no-repeat center /cover;
}

.border1 {
  width: 150px;
  border-bottom: 2px solid black;
}

.border2 {
  width: 150px;
  border: 2px solid;
  border-color: skyblue;
}

.border3 {
  width: 150px;
  border-left: 2px solid skyblue;
}

.border4 {
  width: 150px;
  border-right: 2px solid skyblue;
}

.border5 {
  width: 150px;
  border-top: 2px solid skyblue;
}

.border6 {
  width: 150px;
  border-style: solid;
}

.border7 {
  width: 150px;
  border-style: solid;
  border-width: thick;
}

.border8 {
  width: 150px;
  border: 2px solid skyblue;
}

.text_color {
  color: blue;
}

.cursor_box {
  cursor: pointer;
}

.display_box {
  display: flex;
  display: block;
}

.filter_box {
  width: 100px;
  height: 100px;
  background-image: url(../image/S__540702.jpg);
  background-size: cover;
  filter: blur(10px);
}

.float1 {
  height: 200px;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  float: left;
}

.float2 {
  height: 200px;
}

.box3 {
  width: 100px;
  height: 100px;
  background-color: red;
  float: none;
}

.box4 {
  width: 100px;
  height: 100px;
  background-color: blue;
  float: none;
}

.font_family {
  font-family: 'Courier New', Courier, monospace;
}

.font_size {
  font-size: 50px;
}

.font_weight {
  font-weight: bold;
}

.font_all {
  font:  italic 1.2rem "Fira Sans",serif;
}

.height_box {
  background-color: red;
  height: 100px;
}

.width_box {
  background-color: blue;
  width: 50px;
  height: 50px;
}

.spacing_box {
  letter-spacing: 10px;
}

.line_box {
  line-height: 50px;
}

.list_style_image {
  list-style-image: linear-gradient(to left bottom, red, blue);
}

.list_style_position {
  list-style-position: inside;
}

.list_style_type {
  list-style-type: "\1F44D";
}

.list_style {
  list-style: lower-roman linear-gradient(to left bottom, red, blue) inside;
}

.margin_bottom_box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  margin-bottom: 100px;
}

.margin_left_box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  margin-left: 100px;
}

.margin_right_box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  margin-right: 100px;
}

.margin_top_box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  margin-top: 100px;
}

.margin_box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  margin: 100px 100px;
}

.padding_bottom_box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  padding-bottom: 50px;
}

.padding_left_box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  padding-left: 50px;
}

.padding_right_box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  padding-right: 50px;
}

.padding_top_box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  padding-top: 50px;
}

.padding_box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  padding: 50px 50px;
}

.overflow_box {
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.parent {
  width: 500px;
  height: 200px;
  background-color: red;
  position: relative;
  padding: 100px;
}

.child {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
}

.text_line {
  text-align: center;
}

.text_decoration {
  text-decoration: skyblue wavy underline;;
}

.text_indent {
  text-indent: 30%;
}

.vertical-align_box {
  vertical-align: bottom;
}

.visibility_box {
  visibility: hidden;
}

.z-index_box {
  width: 300px;
  height: 300px;
  background-color: black;
  position: relative;
  padding: 50px;
}

.z-index_box1 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  z-index: 50;
}

.z-index_box2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: 30px;
  z-index: 40;
}

.hover_box1 {
  color: skyblue;
}

.hover_box1:hover {
  color: skyblue;
  text-decoration: underline;
}

.focus_box:focus {
  background-color: skyblue;
}

#opt-in:checked {
  box-shadow: 0 0 0 3px skyblue;
}

.first_box1 p:first-child {
  border: 2px solid skyblue;
}

.first_box2 p:first-of-type {
  border: 2px solid skyblue;
}

.last_box1 p:last-child {
  border: 2px solid skyblue;
}

.last_box2 :not(:last-child) {
  border: 2px solid skyblue;
}

.middle_box :nth-child(2){
  border: 2px solid skyblue;
}

.button_active :active {
  background-color: skyblue;
}

.after_box::after {
  content: "◇";
}

.before_box::before {
  content: "■";
}


